N8N/C2-Aligo-N8N.json
{
  "name": "C2-Aligo-N8N",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -16
      ],
      "id": "bac100cf-ac0c-4f21-ac04-7957508ac1f8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agents \nSET status = 'offline' \nWHERE status = 'online' \n  AND last_heartbeat < NOW() - INTERVAL '30 seconds';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        -16
      ],
      "id": "2e6c2feb-7439-426b-8b1e-d860b0296860",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "U9Qo2PSl4nYcUDth",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "agent_id",
              "fieldValue": "={{ $json['ID del agente'] }}"
            },
            {
              "fieldId": "command",
              "fieldValue": "={{ $json['Comando a ejecutar'] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        160
      ],
      "id": "c2f22147-6370-4229-9796-841ba18cec3c",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "yF0xelnuFkiVsirq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Consola Operador C2- Aligo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "ID del agente",
              "requiredField": true
            },
            {
              "fieldLabel": "Comando a ejecutar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        160
      ],
      "id": "37b3866e-25dd-43f8-9866-3ed90e6112c8",
      "name": "On form submission",
      "webhookId": "544c6248-8574-417f-8863-d9c1a7e5ce6a"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        352
      ],
      "id": "aefaccfd-feff-497d-924d-831a5195377f",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agents",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        352
      ],
      "id": "bea133b5-7300-4b8f-8b8a-880ff4e71449",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "yF0xelnuFkiVsirq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "html": "<h1>Reporte de C2 - Aligo</h1>\n<p>Fecha de generación: {{ new Date().toLocaleString() }}</p>\n<table border=\"1\">\n  <tr>\n    <th>Agente</th>\n    <th>Estado</th>\n    <th>Último Latido</th>\n    <th>Último Output</th>\n  </tr>\n  <tr>\n    <td>{{ $json.name }}</td>\n    <td>{{ $json.status }}</td>\n    <td>{{ $json.last_heartbeat }}</td>\n    <td>{{ $json.last_output }}</td>\n  </tr>\n</table>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        512,
        336
      ],
      "id": "6103ce5b-e0db-4433-a146-076eb7bb9e4b",
      "name": "HTML"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        720,
        336
      ],
      "id": "ebbf84ab-a352-4b67-877e-4403a952b4da",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "ZiSOqLdVJmoMMqi1",
          "name": "HTML to PDF account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7c096d16-71b1-4177-9dfe-1842881cc302",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15e5cfec1e33bed399ad9c2c3b1077aa7b157d6795ef08d662656ea0bebe5b61"
  },
  "nodeGroups": [],
  "id": "DEpa8ggCCi7cNvx4",
  "tags": []
}